<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IP to Country</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navigation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">IP & Domain Country Finder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ascii_to_char">ASCII Code Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/utf8_decoder">UTF-8 Decorder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="my-3">IP to Country</h1>
      <form method="post">
        <div class="mb-3">
          <label for="ip_list" class="form-label">IP List:</label>
          <textarea
            class="form-control"
            name="ip_list"
            id="ip_list"
            rows="10"
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
      {% if ip_data %}
      <table class="table table-striped table-hover my-3">
        <thead>
          <tr>
            <th scope="col">IP Address</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          {% for data in ip_data %}
          <tr>
            <td>{{ data.ip }}</td>
            <td>{{ data.country }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
