<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UTF-8 Decoder</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navigation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">IP & Domain Country Finder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ascii_to_char">ASCII Code Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/utf8_decoder">UTF-8 Decoder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="/shodan">Shodan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/krcert">Krcert</a>
          </li>
        </ul>
      </div>
    </nav>
    <form method="GET" action="/news">
        <!-- 기타 필드 -->
      <label><input type="checkbox" name="topics" value="보안" {% if '보안' in selected_topics %} checked {% endif %}> 보안</label>
      <label><input type="checkbox" name="topics" value="해킹" {% if '해킹' in selected_topics %} checked {% endif %}> 해킹</label>
      <label><input type="checkbox" name="topics" value="해커" {% if '해커' in selected_topics %} checked {% endif %}> 해커</label>
      <label><input type="checkbox" name="topics" value="멀웨어" {% if '멀웨어' in selected_topics %} checked {% endif %}> 멀웨어</label>
	  <label><input type="checkbox" name="topics" value="랜섬웨어" {% if '랜섬웨어' in selected_topics %} checked {% endif %}> 랜섬웨어</label>
	  <label><input type="checkbox" name="topics" value="취약점" {% if '취약점' in selected_topics %} checked {% endif %}> 취약점</label>
      <select name="days">
        <option value="Day" {% if days == 'Day' %} selected {% endif %}>24 시간</option>
        <option value="Week" {% if days == 'Week' %} selected {% endif %}>7 일</option>
        <option value="Month" {% if days == 'Month' %} selected {% endif %}>30 일</option>
      </select>
      <input type="submit" value="검색">
	</form>

    <div class="container">
      <h1 class="my-4">News</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Published</th>
          </tr>
        </thead>
        <tbody>
          {% for news_item in news %}
          <tr>
            <td><a href="{{ news_item.url }}">{{ news_item.name }}</a></td>
            <td>{{ news_item.datePublished }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if pagination.total > 0 %}
      <div class="d-flex justify-content-center">{{ pagination.links }}</div>
      {% endif %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
